<div class="container">
  <h1 class="display-4 text-center">Conference Scheduler</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-conference-detail></app-conference-detail>
    </div>
    <div class="col-md-7">
      <app-conference-detail-list></app-conference-detail-list>
    </div>
  </div>
  <hr>
  <h3 class="display-8">Generated Conference Schedule</h3>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <app-conference-schedule></app-conference-schedule>
    </div>
  </div>
</div>
